[submodule ".sources/examples"]
	path = .sources/examples
	url = git@github.com:dfinity/examples.git
	branch = master
[submodule ".sources/motoko"]
	path = .sources/motoko
	url = git@github.com:caffeinelabs/motoko.git
[submodule ".sources/internetidentity"]
	path = .sources/internetidentity
	url = https://github.com/dfinity/internet-identity.git
